html {
    background-color: black;
    color: #fff;
    height: 100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.centre-grid {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.logo {  
    max-width: 20%;
    vertical-align: middle;
}
.footer {
    position: fixed;
    justify-content: center;
    bottom: 5%;
    left: 0;


    
   
}
.footer-icons {
    display: flex;
    
    justify-content: center;  
    padding: 0;
    margin: 0; 
    right: 0;
    
}
.footer-logo{

    display: inline-block;
    min-width: 4%;
    max-width:5%;
    

    padding: 0%;
    color: white;
    height: auto;
    
}


.invert { 
    -webkit-filter: invert(1);
    filter: invert(1);
}

.hovergrow:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(1.2);
    filter: invert(45%) sepia(71%) brightness(110%) contrast(80%) saturate(2050%) hue-rotate(290deg);
    -webkit-filter: invert(45%) sepia(71%) brightness(110%) contrast(80%) saturate(2050%) hue-rotate(290deg);
}

img .clickspin:active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


@media only screen and (orientation: portrait) {
    html {
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 100%, rgba(100,80,82,1) 100%, rgba(108,107,133,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        height: 100%;
        
    }
    .logo {
      max-width: 40%;
      -webkit-filter: invert(1);
      filter: invert(1)
    }
    .footer {

        left: 0;
    }

    .footer-logo{
        left:0;
        padding: 0;
        max-width:20%;
        color: white;
    }
  }